*{
box-sizing: border-box;
}
body{
   font-family: sans-serif;
    color: #f1f1f8;
}
p{
    font: 400 1rem/1.75rem ;
}
h1 , h2 ,h3 ,h4{
    font: 700 2.75rem/3.5rem;
}
.terms{
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: #212529;
}
.contact{
     background-color: #212529;
}
.terms h1{
    margin-top: 50px;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 30px;
}
.model{
    background-color:#262431;
    padding-top: 50px;
    padding-bottom: 30px;
}
.model .box{
    background-color: #423f52;
    padding: 20px; 
}
.model .one{
    margin-top: 20px;
    font-weight: bolder
}
.model .two{
    margin-top: 80px;
    font-weight: bolder
}